/* GLOBAL */
body.dark{
    background-color: #232220;
}
body.dark .title h3{
    color: #eee;
}

/* HEADER */
body.dark .header__right input{
    background-color: #232220;
    border: 1px solid #232220;
    color: #c2d0da;
}
body.dark .searchbox i{
    color: #404040;
}

/* CATEGORIES */
body.dark .categories{
    background-color: #282828;
}

/* STATISTIC */
body.dark .statistic__item{
    background-color: #232220;
}
body.dark .statistic__item p:first-of-type{
    color: #eee;
}
body.dark .statistic__item p:last-of-type{
    color: #c2d0da;
}