/* GLOBAL */
body.dark{
    background-color: #232220;
}
body.dark .title h3{
    color: #eee;
}

/* HEADER */
body.dark .header__right .themeIcon{
    transform: rotate(0);
}
body.dark .themeIcon i:first-of-type{
    display: none;
}
body.dark .themeIcon i:last-of-type{
    display: block;
}
body.dark .header__right input{
    background-color: #232220;
    border: 1px solid #232220;
    color: #c2d0da;
}
body.dark .searchbox i{
    color: #404040;
}

/* CONTENT */
body.dark .content .header__content__right p{
    color: #c2d0da;
}

/* FEATURES */
body.dark .features .idea__sec{
    color: #eee;
}

/* CATEGORIES */
body.dark .categories{
    background-color: #282828;
}

/* SERVICES */
body.dark .box-wrap{
    border: 1px solid rgba(255,255,255,0.1);
}
body.dark .home-services .icon{
    background: #282828;
}
body.dark .box-wrap p{
    color: #c2d0da;
}
body.dark .box-wrap-grid .info h4 a{
    color: #eee;
}

/* STATISTIC */
body.dark .statistic__item{
    background-color: #232220;
}
body.dark .statistic__item p:first-of-type{
    color: #eee;
}
body.dark .statistic__item p:last-of-type{
    color: #c2d0da;
}

/* POSTS */
body.dark .posts{
    background-color: #282828;
}
body.dark .posts__item .card-body .card-title{
    color: #eee;
}
body.dark .posts__item .card-body .card-text span{
    color: #eee;
}
body.dark .posts__item .card-body .card-text .diner-btn{
    color: #eee;
}
body.dark .posts__item .card-body .card-text .diner-btn:hover{
    color: #ff6600;
}

/* FEEDBACK */
body.dark .carousel-caption h3{
    color: #eee;
}
body.dark .carousel-caption p{
    color: #c2d0da;
}
body.dark .carousel-caption .people-info h3{
    color: #eee;
}