/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Quicksand', sans-serif;
}

@media (min-width: 1280px){
    .container {
      max-width: 1200px;
    }
}
.title h6{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
    margin: 0;
}
.title h3{
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    color: #232121;
    margin: 0;
}

/* TITLE-RESPONSIVE */
@media screen and (max-width: 1080px){
    .title h3{
        font-size: 32px;
        line-height: 40px;
    }
}
@media screen and (max-width: 600px){
    .title h6{
        font-size: 16px;
    }
    .title h3{
        font-size: 30px;
        line-height: 38px;
    }
}
@media screen and (max-width: 480px){
    .title h3{
        font-size: 26px;
        line-height: 36px;
    }
}
@media screen and (max-width: 375px){
    .title h6{
        letter-spacing: 0.5px;
    }
    .title h3{
        font-size: 24px;
        line-height: 34px;
    }
}

/* HEADER */
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.header .navbar-brand{
    font-size: 36px;
    font-weight: 700;
    margin-right: 0;
}
.header .navbar{
    padding: 30px 0 20px;
}
.header__right{
    display: flex;
    align-items: center;
}
.header__right .searchbox{
    position: relative;
}
.header__right input{
    padding: 10px 50px 10px 20px;
    font-size: 16px;
    color: rgb(22 28 45 / 70%);
    border: 1px solid white;
    border-radius: 6px;
    outline: none;
}
.header__right .searchbox i{
    position: absolute;
    top: 16px;
    right: 20px;
    font-size: 14px;
    cursor: pointer;
}
.header__right>i{
    font-size: 28px;
    color: white;
    margin: 0 20px;
    transform: rotate(-30deg);
}
.header__right .navbar-toggler{
    border: none;
}
.header__right .navbar-toggler i{
    font-size: 26px;
    color: white;
}

/* HEADER OVERLAY-NAVBAR */
.overlay-navbar {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(6,3,0,0.77);
    --animate-duration: 0.3s;
}
.overlay-content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
.overlay-content .navbar-nav{
    display: inline-block;
}
.overlay-content .navbar-nav .nav-link{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    display: block;
    transition: all 0.2s;
}
.overlay-navbar .navbar-nav .nav-link:hover, .overlay-navbar a:focus{
    color: #ff6600;
}
.overlay-navbar .closebtn{
    width: 40px;
    height: 40px;
    background-color: #ff6600;
    border-radius: 6px;
    color: white;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 40px;
    right: 40px;
}
.overlay-navbar .closebtn:focus{
    border: 1px solid white;
}

/* HEADER-RESPONSIVE */
@media screen and (max-width: 600px){
    .header__right .searchbox{
        display: none;
    }
}

/* BANNER */
.banner{
    background-image: linear-gradient(
        to right, 
        #ff6600, 
        hsl(30deg 100% 1% / 20%)),
        url(../img/banner1.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 160px 0;
}
.banner__content{
    max-width: 600px;
    text-align: left;
    color: white;
}
.banner__content h1{
    font-size: 54px;
    font-weight: 600;
    color: white;
}
.banner__content p{
    line-height: 28px;
}
.banner__content .btn{
    border: 2px solid white;
    border-radius: 6px;
    padding: 15px 45px;
    color: white;
    font-weight: 700;
    transition: all .5s;
}
.banner__content .btn i{
    margin-left: 5px;
}
.banner__content .btn:hover{
    background-color: white;
    color: #ff6600;
}

/* BANNER-RESPONSIVE */
@media screen and (max-width: 1190px){
    .banner{
        padding: 200px 0;
    }
    .banner__content h1{
        font-size: 48px;
        line-height: 58px;
    }
}
@media screen and (max-width: 992px){
    .banner{
        padding: 205px 0;
    }
    .banner__content h1{
        font-size: 44px;
        line-height: 52px;
    }
}
@media screen and (max-width: 800px){
    .banner{
        padding: 158px 0;
    }
    .banner__content h1{
        font-size: 40px;
        line-height: 50px;
    }
}
@media screen and (max-width: 480px){
    .banner{
        padding: 108px 0;
    }
    .banner__content h1{
        font-size: 28px;
        line-height: 38px;
    }
    .banner__content .btn{
        padding: 12px 22px;
    }
}

/* ICON  */
.icon{
    width: 4rem;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    background: rgba(130, 115, 252, .05);
    color: #ff6600;
}

/* CONTENT  */
.header__content__right p{
    /* color: #ffdfc9; */
}
.content{
    /* background-color: gray; */
}
.content .header__content__left{
    margin-right: 2.5rem;

}
.content .header__content__right{
    font-size: 1.2rem;
    text-decoration: none;
    line-height: 2rem;
}

/* FEATURES  */
.features{
    background-color: #ff6900;
}

.features .block__image__ab{
    background-image: url(../img/banner3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* -webkit-background-size: cover; */
    /* width: 500px; */
    min-height: 600px;
    position: relative;
    z-index: 1;
}
.features .block__image__ab::before{
    content: "";
    background: rgb(16 15 19 / 46%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}
.features .block__image__right h6{
    color: white !important;
}
.features .block__image__right h3{
    color: rgba(22,28,45,0.7) ;
}
.features .block__image__right a{
    color: rgba(22,28,45,0.7) !important;
}
.features .idea{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    gap: 3.5rem;
}
.features .icon{
    background: white;
    font-size: 1.5rem;
    font-weight: bolder;
}
.features .idea__sec{
    text-decoration: none;
    background-color: transparent;
    display: block;
    font-weight: 600;
    line-height: 2px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}
.features .idea__first .icon span{
    transition: all .3s;
}
.features .idea__first .icon span:hover{
    color: yellow;
}

.features .container__first{
    padding: 0 0;
}
.features .f__block__image__right{
    padding: 0.5rem 5rem;
}
.features .block__image__right p{
    color: #ffdfc9;
}

/* CATEGORIES */
.categories{
    background-color: #f7f7f7;
}
.categories__content .card-img-overlay{
    top: auto;
    right: auto;
    bottom: 0;
    left: auto;
    color: white;
    transform: translateY(10%);
    z-index: 1;
}
.categories__content .card{
    background-color: transparent;
    border: none;
}
.categories__content .card-img{
    border-radius: 6px;
    transition: all .4s;
}
.categories__content .card-img:hover{
    opacity: 0.85;
}
.categories__content .card a{
    text-decoration: none;
}
.card-img-overlay .card-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    color: white;
}
.card-img-overlay .card-text{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 25px;
    color: #ffc600;
    opacity: 0.9;
}
.categories__content .card::after{
    content: "";
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 0) 0, 
        rgba(0, 0, 0, 0.53) 69%, 
        rgba(0, 0, 0, 0.76) 100%);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* CATEGORIES-RESPONSIVE */
@media screen and (max-width: 800px){
    .card-img-overlay .card-title{
        font-size: 18px;
        line-height: 28px;
    }
}